<?xml version="1.0"?>
 
<config>
    <modules>
        <Hasan_TrackOrders>
            <version>0.0.0.1</version>
        </Hasan_TrackOrders>
    </modules>
 
    <global>
        <models>
            <hasan_trackorders>
                <class>Hasan_TrackOrders_Model</class>
                <resourceModel>hasan_trackorders_resource</resourceModel>
            </hasan_trackorders>
        </models>
 
        <resources>
            <hasan_trackorders_setup>
                <setup>
                    <module>Hasan_TrackOrders</module>
                </setup>
            </hasan_trackorders_setup>
        </resources>
 
        <blocks>
            <hasan_trackorders>
                <class>Hasan_TrackOrders_Block</class>
            </hasan_trackorders>
        </blocks>
 
        <helpers>
            <hasan_trackorders>
                <class>Hasan_TrackOrders_Helper</class>
            </hasan_trackorders>
        </helpers>
    </global>
 
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hasan_trackorders before="Mage_Adminhtml">Hasan_TrackOrders_Adminhtml</hasan_trackorders>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>